Brotli==1.1.0
colorama==0.4.6
context_menu==1.4.1
coverage==7.9.2
inflate64==1.0.1
iniconfig==2.1.0
multivolumefile==0.2.3
packaging==25.0
pillow==11.1.0
pluggy==1.6.0
psutil==7.0.0
pybcj==1.0.3
pycryptodomex==3.22.0
Pygments==2.19.2
pyppmd==1.1.1
pystray==0.19.5
pytest==8.4.1
pyzstd==0.16.2
setuptools==78.1.1
six==1.17.0
texttable==1.7.0
unrar==0.4
wheel==0.45.1
